@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

/* index page */
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.body-index {
  background-color: #084c61;
}

.carousel {
  height: 300px;
  perspective: 500px;
  background-color: white;
}

.carousel .carousel-item {
  width: 250px;
}

.carousel .carousel-item img {
  width: 80%;
}

.indicators {
  display: none;
}

h1 {
  margin-bottom: 75px;
  color: white;
}

h3 {
  margin: 75px 0px -30px 0px;
  color: #ffc857;
}

/* Header Styles */

.logo-header {
  margin: 5px 0px 8px 8px;
}

.nav-wrapper {
  background-color: #084c61;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #084c61;
}

/* Footer Styles */

.page-footer {
  background-color: #323031;
}

.footer-icon {
  margin-bottom: 10px;
  width: 35px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 55px;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 45px;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 20px;
  }
  .logo-header {
    width: 160px;
  }
}
