/* Colors for quick apply
  var(--lightBlue);
  var(--darkBlue);
  var(--yellow);
  var(--red);
  var(--grey);
  var(--white);
*/

.btn-floating {
  background-color: var(--yellow);
}

.btn-floating:hover {
  background-color: var(--red);
}

.btn-floating:focus {
  background-color: var(--yellow);
}

.icon-modal {
  color: var(--darkBlue);
  width: 30px;
  position: relative;
  top: 7px;
}

li {
  list-style: none;
}
