.bio-picture {
  width: 375px;
  margin-top: 30px;
}

.bio-text {
  margin-top: 30px;
  font-size: 20px;
}

.quote {
  font-size: 24px;
  margin: 50px 0px;
}

.quote-name {
  color: var(--darkBlue);
  font-style: italic;
}

.quote-marks {
  color: var(--yellow);
}

.btn-style,
.btn-style:hover {
  color: var(--white);
  background-color: var(--darkBlue);
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding: 8px;
}

.btn-style:hover,
.btn-style:focus {
  color: var(--white);
  background-color: var(--lightBlue);
}

@media (max-width: 1300px) {
  .bio-picture {
    width: 250px;
    margin-top: 35px;
  }
  .bio-text {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .bio-picture {
    width: 275px;
    margin-top: 35px;
  }
  .bio-text {
    margin-top: 30px;
    font-size: 16px;
    padding-left: 100px;
  }
}
@media (max-width: 800px) {
  .bio-picture {
    width: 250px;
    margin-top: 30px;
  }
  .bio-text {
    margin-top: 25px;
    font-size: 14px;
  }
}

@media (max-width: 745px) {
  .bio-picture {
    display: none;
  }
  .row .col.m7 {
    width: 100%;
  }
  .bio-text {
    margin-top: 15px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .bio-picture {
    display: none;
  }
  .bio-text {
    margin-top: 15px;
    font-size: 16px;
  }
  .quote,
  .quote-name,
  .quote-marks {
    font-size: 20px;
  }
}
